<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Editar perfil</h4>
    </div>
    <div class="card-content">
      <form id="fe-usuario-editar-form">
        <div class="row">
          <!--empresa-->
          <div class="col-md-12">
            <div class="form-group">
              <label>Empresa</label>
              <input type="text" class="form-control border-input" disabled="" placeholder="ex.: Grape's Group">
            </div>
          </div>
          <!--nome-->
          <div class="col-md-7">
            <div class="form-group">
              <label for="usuario-nome">Nome</label>
              <input required="required" type="text" id="usuario-nome" name="usuario-nome" class="form-control border-input" placeholder="ex.: Felipe Sales">
            </div>
          </div>
          <!--cpf-->
          <div class="col-md-5">
            <div class="form-group">
              <label for="usuario-cpf">CPF</label>
              <input required="required" type="number" id="usuario-cpf" name="usuario-cpf" class="form-control border-input" placeholder="ex.: 000.000.000-00">
            </div>
          </div>
          <!--sexo-->
          <div class="col-md-3">
            <div class="form-group">
              <label for="usuario-sexo">Sexo</label>
              <select required="required" id="usuario-sexo" name="usuario-sexo" class="form-control border-input selectpicker" data-style="btn btn-simple btn-block" title="Selecione o sexo" data-size="7">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
              </select>
            </div>
          </div>
          <!--contato-->
          <div class="col-md-3">
            <div class="form-group">
              <label for="usuario-contato">Contato</label>
              <input required="required" type="number" id="usuario-contato" name="usuario-contato" class="form-control border-input" placeholder="ex.: (00) 00000-0000">
            </div>
          </div>
          <!--e-mail-->
          <div class="col-md-6">
            <div class="form-group">
              <label for="usuario-email">E-mail</label>
              <input required="required" type="email" id="usuario-email" name="usuario-email" class="form-control border-input" placeholder="ex.: email@dominio.com">
            </div>
          </div>
          <!--endereço-->
          <div class="col-md-6">
            <div class="form-group">
              <label for="usuario-endereco">Endereço</label>
              <input required="required" type="text" id="usuario-endereco" name="usuario-endereco" class="form-control border-input" placeholder="ex.: Varandas da Serra">
            </div>
          </div>
          <!--número-->
          <div class="col-md-2">
            <div class="form-group">
              <label for="usuario-endereco-n">nº</label>
              <input required="required" type="number" id="usuario-endereco-n" name="usuario-endereco-n" class="form-control border-input" placeholder="ex.: 37">
            </div>
          </div>
          <!--complemento-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="usuario-complemento">Complemento</label>
              <input required="required" type="text" id="usuario-complemento" name="usuario-complemento" class="form-control border-input" placeholder="ex.: Apartamento 101">
            </div>
          </div>
          <!--bairro-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="usuario-bairro">Bairro</label>
              <input required="required" type="text" id="usuario-bairro" name="usuario-bairro" class="form-control border-input" placeholder="ex.: Centro">
            </div>
          </div>
          <!--cidade-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="usuario-cidade">Cidade</label>
              <input required="required" type="text" id="usuario-cidade" name="usuario-cidade" class="form-control border-input" placeholder="ex.: Salvador">
            </div>
          </div>
          <!--estado-->
          <div class="col-md-2">
            <div class="form-group">
              <label for="usuario-estado">Estado</label>
              <select required="required" id="usuario-estado" name="usuario-estado" class="form-control border-input selectpicker" data-style="btn btn-simple btn-block" title="Selecione o estado" data-size="7">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AM">AM</option>
                <option value="AP">AP</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MG">MG</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="PR">PR</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="RS">RS</option>
                <option value="SC">SC</option>
                <option value="SE">SE</option>
                <option value="SP">SP</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
          <!--cep-->
          <div class="col-md-2">
            <div class="form-group">
              <label for="usuario-cep">CEP</label>
              <input required="required" type="number" id="usuario-cep" name="usuario-cep" class="form-control border-input" placeholder="ex.: 00.000-000">
            </div>
          </div>
        </div>
        <div class="text-center fe-button-border-top">
          <button type="submit" class="btn btn-info btn-fill btn-wd">Atualizar Usuário</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>