<div class="sidebar" data-background-color="brown" data-active-color="danger">
  <!--logo-->
  <div class="logo">
      <a href="https://www.felipesales.com.br/" target="_blank" class="simple-text logo-mini">
          <img src="../../../assets/img/default/icone.png" width="35">
      </a>
      <a href="https://www.felipesales.com.br/" target="_blank" class="simple-text logo-normal">
          <img src="../../../assets/img/default/marca.png" width="200" class="fe-tamanho-img-logo">
      </a>
  </div>
  <div class="sidebar-wrapper">
      <!--menu do usuário-->
      <div class="user">
          <div class="photo fe-zoom-out">
              <img class="" src="../assets/img/user/usuario.png">
          </div>
          <div class="info fe-menu-usuario">
              <a data-toggle="collapse" href="#usuario" id="fe-menu-usuario" class="collapsed fe-menu-lateral">
                  <span>
                      Felipe Sales
                      <b class="caret"></b>
                  </span>
              </a>
              <div class="clearfix"></div>

              <div class="collapse fe-fechar-menu-mobile" id="usuario">
                  <ul class="nav">
                      <li routerLinkActive="active">
                          <a [routerLink]="['/usuario/editar']">
                              <span class="sidebar-mini">EP</span>
                              <span class="sidebar-normal">Editar perfil</span>
                          </a>
                      </li>
                      <li routerLinkActive="active">
                          <a [routerLink]="['/usuario/senha']">
                              <span class="sidebar-mini">AS</span>
                              <span class="sidebar-normal">Alterar senha</span>
                          </a>
                      </li>
                      <li>
                          <a>
                              <span class="sidebar-mini">S</span>
                              <span class="sidebar-normal">Sair</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <!--menu lateral-->
      <ul class="nav fe-menu-item">
          <!--dashboard-->
          <li routerLinkActive="active">
              <a class="fe-menu-lateral fe-fechar-menu-mobile" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
                  <i class="ti-dashboard"></i>
                  <p>Dashboard</p>
              </a>
          </li>
          <!--campanha-->
          <li routerLinkActive="active">
              <a class="fe-menu-lateral" data-toggle="collapse" href="#collapse-paginas">
                  <i class="ti-announcement"></i>
                  <p>
                      Campanha
                      <b class="caret"></b>
                  </p>
              </a>
              <div class="collapse fe-fechar-menu-mobile" id="collapse-paginas">
                  <ul class="nav">
                      <li routerLinkActive="active">
                          <a [routerLink]="['/campanha/nova']">
                              <span class="sidebar-mini">N</span>
                              <span class="sidebar-normal">Nova</span>
                          </a>
                      </li>
                      <li routerLinkActive="active">
                          <a [routerLink]="['/campanha/listar']">
                              <span class="sidebar-mini">L</span>
                              <span class="sidebar-normal">Listar</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
</div>