<footer class="footer">
  <div class="container-fluid">
      <!--lado esquerdo-->
      <nav class="pull-left fe-hide">
          <ul>
              <li>
                  <a href="#link1">
                      Link 1
                  </a>
              </li>
              <li>
                  <a href="#link2">
                      Link 2
                  </a>
              </li>
              <li>
                  <a href="#link3">
                      Link 3
                  </a>
              </li>
          </ul>
      </nav>
      <!--lado direito-->
      <div class="copyright pull-right">
          &copy;
          <span id="fe-ano-rodape"></span>, Desenvolvido por 
          <a href="https://www.felipesales.com.br/" target="_blank">Felipe Sales</a>
      </div>
  </div>
</footer>