<!--card total-->
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-xs-7">
                    <div class="numbers pull-left">2758</div>
                </div>
            </div>
            <h6 class="big-title">Total de <span class="text-success">campanhas</span> enviadas
            </h6>
            <div id="chartTotalEarningsDoc"></div>
        </div>
        <div class="card-footer">
            <hr>
            <div class="footer-title">Enviar nova campanha</div>
            <div class="pull-right">
                <button [routerLink]="['/campanha/nova']" class="btn btn-success btn-fill btn-icon btn-sm">
                    <i class="ti-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!--card criadas-->
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-xs-7">
                    <div class="numbers pull-left">13</div>
                </div>
            </div>
            <h6 class="big-title">Total de <span class="text-info">campanhas</span> criadas
            </h6>
            <div id="chartTotalEarningsDoc"></div>
        </div>
        <div class="card-footer">
            <hr>
            <div class="footer-title">Criar nova campanha</div>
            <div class="pull-right">
                <button class="btn btn-info btn-fill btn-icon btn-sm">
                    <i class="ti-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!--card desativo-->
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-xs-7">
                    <div class="numbers pull-left">6</div>
                </div>
            </div>
            <h6 class="big-title">Total de <span class="text-muted">campanhas</span> desativadas
            </h6>
            <div id="chartTotalEarningsDoc"></div>
        </div>
        <div class="card-footer">
            <hr>
            <div class="footer-title">Desativar uma campanha</div>
            <div class="pull-right">
                <button class="btn btn-primary btn-fill btn-icon btn-sm">
                    <i class="ti-na"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!--card pendente-->
<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-xs-7">
                    <div class="numbers pull-left">2</div>
                </div>
            </div>
            <h6 class="big-title">Total de <span class="text-danger">campanhas</span> pendentes
            </h6>
            <div id="chartTotalEarningsDoc"></div>
        </div>
        <div class="card-footer">
            <hr>
            <div class="footer-title">Visualizar campanhas</div>
            <div class="pull-right">
                <button class="btn btn-danger btn-fill btn-icon btn-sm">
                    <i class="ti-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>