input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    appearance: textfield;
}

.btn {
    font-weight: normal;
}

.form-group .btn-simple {
    padding-top: 10px;
}

[title="LinkedIn"]:hover {
    color: #0077b5;
}

[title="GitHub"]:hover {
    color: #24292e;
}

[title="Facebook"]:hover {
    color: #4267b2;
}

[title="Instagram"]:hover {
    color: #6e423a;
}

[title="YouTube"]:hover {
    color: #ff0000;
}

[title="E-mail"]:hover {
    color: #006dc3;
}

[title="Twitter"]:hover {
    color: #55acee;
}

.fe-hide {
    display: none !important;
}

.fe-hidden {
    visibility: hidden;
}

.fe-pointer {
    cursor: pointer;
}

.fe-left {
    float: left;
}

.fe-right {
    float: right;
}

.fe-center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fe-center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fe-carregando {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('http://i.imgur.com/zAD2y29.gif') 50% 50% no-repeat white;
}

.fe-carregado {
    display: none;
}

.fe-cor-texto {
    color: #66615B;
}

.fe-zoom-out {
    animation: zoom-out 2s;
}

.fe-dev-contato {
    margin: -35px;
}

.fe-dev-contato .card-content .description {
    margin-left: 60px;
    margin-right: 60px;
}

.fe-background-rodape {
    background-color: #868e96;
    background-image: url("https://img.elo7.com.br/product/zoom/FBCE34/adesivo-paisagem-praia-decorando-com-adesivos.jpg");
}

.fe-social-icons {
    margin-bottom: 5px;
}

.fe-social-icons a {
    display: inline-block;
    height: 2.3rem;
    width: 2.3rem;
    color: #868e96;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-right: 1rem;
    transition: all .5s ease-in-out;
}

.fe-button-border-top {
    width: calc(100% + 30px);
    margin-top: 10px;
    margin-left: -15px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes zoom-out {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 767px) {
    .fe-social-icons {
        text-align: center;
    }
    .fe-social-icons a {
        margin-right: .06rem;
    }
}

.error:not(.form-control) {
    position: absolute;
    display: block;
    margin-left: 1px;
    color: #EB5E28;
    font-size: 11px;
}

.bootstrap-select .error:not(.form-control) {
    margin-top: 40px;
}

.selectpicker-error:not(.error) {
    background-color: #FFC0A4;
    border: 1px solid #EB5E28 !important;
}